.story{
    width:75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color_black, .1);
    background-color: rgba($color_white ,60%);
    border-radius: 3px;
    padding: 6rem;
    font-size: $default_font_size;
    padding-left: 9rem;
    transform: skewX(-12deg);

    @media (max-width:600px){
      //width:50%  ;
    }

    & > * {
        transform: skewX(-12deg);
        
    }

    &__shape{
        transform: skew(12deg);
        width:15rem;
        transform: translateX(-4rem);
        height: 15rem;
        float: left;
        -webkit-shape-outside:circle(50% at 50% 50%); 
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);
        position: relative;
    }

    &__img{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text{

        transform: skewX(12deg);
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: $color_white;
        text-align: center;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translateY(-50%,-50%);
    }

    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

}